<html>
<div>

  <div class = "distance">

    <input type = "text" [(ngModel)] = "firstCell" placeholder="Имя">
    <input type = "text" [(ngModel)] = "secondCell" placeholder="Описание">

    <button (click) = "addStringToTable(firstCell, secondCell)"> Добавить </button>

  </div>

  <div>

    <table class = "table">

      <thead>
      <tr>
        <th class = "th"> Имя </th>
        <th> Описание </th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor = "let item of arrayOfTable">
          <td class = "firstCell"> {{item.name}}
          </td>
          <td class = "secondCell">{{item.description}}
          </td>
        </tr>

      </tbody>

    </table>

  </div>
</div>

</html>