<!-- вывести значение из компоненты -->

<div>
  {{ field }}
</div>

<button (click)="onClickButton()">
  button
</button>

<button (dblclick)="onClickButton()">
  dblclick button
</button>

<button (mouseenter)="onClickButton()">
  enter button
</button>

<input [(ngModel)]="field">

<div *ngIf="true">
  ngIf true
</div>

<div *ngIf="true">
  ngIf false
</div>

<div>

  <p *ngFor="let number of array; let index = index">
    {{ index }}: {{ number }}
  </p>

</div>

<!-- (mouseenter) -> onClickButton()
[value] <- field
[()] -->