<div class="class1">
  <p>{{ variable1 }}</p>
</div>

<div>
  <label>5678</label>
  <label>897656</label>
</div>

<div>
  <input />
</div>

<div>
  <textarea></textarea>
</div>

<div>
  <button (click)="onCloseClick()">Close</button>
</div>

<img src="../assets/images/image1.jpeg" />

<table class="table">

  <thead>
    <tr>
      <th>Название</th>
      <th>Картинка</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <label>Кот</label>
      </td>
      <td><img class="image" src="../assets/images/kotik.jpg" /></td>
      <td><button (click)="onCatClick()">Cat</button></td>
    </tr>
    <tr>
      <td>Собака</td>
      <td><img class="image" src="../assets/images/sobaka.jpg" /></td>
      <td><button (click)="onDogClick()">Dog</button></td>
    </tr>
    <tr>
      <td>Капибара</td>
      <td><img class="image" src="../assets/images/kapibara.jpe" /></td>
      <td><button (click)="onKapibaraClick()">Kapibara</button></td>
    </tr>
  </tbody>

</table>

<div class="textable">
  <p>{{ variable3 }}</p>
</div>
