<html>
  <div class="general-form">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
      <div class="form-control">
        <label>Email</label>

        <input class="input" name="email" formControlName="userEmail"/>

        <div class="alert" *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
          Неправильный email
        </div>
      </div>

      <div class="form-control">
        <label>Пароль</label>

        <input class="input" type="password" name="password" formControlName="userPassword"/>

        <div class="alert" *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
          Введите пароль
        </div>

      </div>

      <button [disabled]="myForm.invalid" class="button-form">Войти</button>
    </form>
  </div>
  
</html>